.parentDiv {
    position: relative;
}
.copyButton {
    position: absolute;
    right: 14px;
    top: 2px;
    font-size: 22px;
    background: transparent;
    border: none;

}

.cbtn {
    color: #fff;
    background: transparent;
    border: none;
}