.parentDiv {
    position: relative;
}
.copyButton {
    position: absolute;
    right: 14px;
    top: 2px;
    font-size: 19px;
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    color: #2900f8;

}

.cbtn {
    color: #fff;
    background: transparent;
    border: none;
}